@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

header,
main,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
}

h1 {
  text-align: center;
}

section {
  padding: 20px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
}

nav a {
  padding: 20px;
  color: black;
  display: block;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

nav a:hover {
  color: #616061;
}

.hide {
  display: none;
}

.menu-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.bar1,
.bar2,
.bar3 {
  width: 26px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
  transition: 0.3s ease;
}

.change .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -8px) rotate(45deg);
}


footer {
  text-align: center;
}

@media screen and (min-width: 700px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .menu-btn {
    display: none;
  }

  nav {
    text-align: right;
  }

  nav a {
    display: inline;
    border-top: none;
  }

  nav.hide {
    display: block;
  }
}

@media screen and (min-width: 1000px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
